.wrapper {
	height: 100vh;
	justify-content: left;
	pointer-events: none;
	display: flex;
}

.wrapper[data-align="right"] {
	justify-content: flex-end;
}

.container {
	--text-primary: #ffffff;
	--text-secondary: rgba(255, 255, 255, 0.7);

	--container-bg: rgba(146, 146, 146, 0.445);
	--cover-placeholder-bg: linear-gradient(135deg, #444, #222);
	--cover-wrapper-bg: rgba(255, 255, 255, 0.1);

	min-width: 250px;
	width: max-content;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 4px 8px;
	box-sizing: border-box;
	background: transparent;
	border-radius: 8px;
	overflow: hidden;
	font-family: Misans, "Segoe UI", "Microsoft YaHei", sans-serif;

	transition:
		background 0.18s ease,
		opacity 0.15s ease;

	pointer-events: auto;

	gap: 12px;
}

.container[data-align="right"] {
	flex-direction: row-reverse;
}

.container:hover {
	background: var(--container-bg);
}

.container:active {
	opacity: 0.8;
}

.container[data-theme="light"] {
	--text-primary: #1a1a1a;
	--text-secondary: rgba(0, 0, 0, 0.6);

	--container-bg: rgba(255, 255, 255, 0.4);
	--cover-placeholder-bg: linear-gradient(135deg, #e0e0e0, #c0c0c0);
	--cover-wrapper-bg: rgba(0, 0, 0, 0.05);
}

.coverWrapper {
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 6px;
	overflow: hidden;
	flex-shrink: 0;
	background: var(--cover-wrapper-bg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.coverPlaceholder {
	width: 100%;
	height: 100%;
	background: var(--cover-placeholder-bg);
}

.textPanel {
	display: grid;
	height: 40px;
	overflow: hidden;
}

.groupContainer {
	grid-area: 1 / 1;

	position: relative;
	width: 100%;
	height: 100%;
}

.ghostPanel {
	display: flex;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.ghostLine {
	white-space: nowrap;
	text-align: left;
	padding-right: 12px;
	padding-left: 0;
}

.container[data-align="right"] .ghostLine {
	text-align: right;
	padding-right: 0;
	padding-left: 12px;
}

.animatedLine {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: var(--text-primary);
	line-height: 1.2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left top;
	will-change: transform, opacity, filter, color;
	transition: color 0.3s ease;
	text-align: left;
}

.container[data-align="right"] .animatedLine {
	text-align: right;
	transform-origin: right top;
}

.animatedLine[data-status="secondary"] {
	color: var(--text-secondary);
}
